a{
    color: #005caf;
}

img.logo{
    width: 38px;
    height: auto;
}

.navbar-brand{
    width: 50%;  
}

body{
    font-family: 'Merriweather', serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #005caf;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.bg-minimalist{
    background-color: #ffffff!important;
}

footer{
    color: #005caf;
    font-size: 0.875rem;
    border-top: 1px solid #005caf ;
}